wget
numpy
pandas
plotly
matplotlib
koreanize-matplotlib
wordcloud
scikit-learn
gensim
streamlit-elements
networkx
pyvis
psutil
streamlit-modal
streamlit-elements
Pillow
openai
streamlit_chat
